<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
    <meta charset="utf8" />
  </head>
  <body>
    <div>
      <h1>Settings</h1>
    </div>
    <br />
    <div>
      <button><a th:href="@{manageTeams}">Teams</a></button>
    </div>
    <br />

    <div>
      <button><a th:href="@{manageUsers}">Users</a></button>
    </div>
    <br />

    <div>
      <button><a th:href="@{manageGames}">Games</a></button>
    </div>
    <br />
    <div>
      <button><a th:href="@{managePlayers}">Players</a></button>
    </div>
  </body>
</html>
